body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #278cfffb;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #5096b1;
    padding: 30px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgb(237, 3, 3);
    text-align: justify;
    max-width: 800px;
    margin: 30px auto;
}

header {
    background-color: #140345d7;
    color: white;
    padding: 30px 30px;
    border-radius: 40px;
    display: block;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

header .logo {
    font-size: 24px;
    text-decoration: none;
    color: white;
}

header nav {
    display: flex;
    gap: 20px;
}

header nav a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

header nav a:hover {
    background-color: #800808;
    border-radius: 20px;
}

header input[type="checkbox"] {
    display: none;
}

header label {
    display: none;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    justify-content: baseline;
    font-style: italic;
    color: white;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: justify;
    color: white;
}

.radio-group {
    margin-bottom: 10px;
    text-align: left;
}

.radio-group label {
    display: block;
    margin-left: 25px;
    color: white;
}

button {
    background-color: #0177f4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    display: block;
    width: 100%;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

main {
    padding: 20px;
}

figure {
    text-align: center;
    margin: 20px auto;
}

figure img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
}

figure img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

figure figcaption {
    font-size: 7px;
    color: white;
    margin-top: 5px;
}

@media (max-width: 768px) {
    header nav {
        display: none;
        flex-direction: column;
        background-color: #333;
        padding: 10px;
        border-radius: 5px;
    }
    header label {
        display: block;
        cursor: pointer;
        color: white;
    }
    header input[type="checkbox"]:checked + label + nav {
        display: flex;
    }
    .container {
        width: 90%;
        padding: 10px;
    }
}
